body{
    background: #000000;
}
.menu_paragraphs .nav-link{
    font-size: 20px;
    color:#4c4a4b;
}
.menu_paragraphs .nav-link.active{
    color: white;
}
.navbar{
    background: #000000;
}
.navbar_center{
    margin: 0 auto;
}
.search_website{
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px 25px 5px 5px;
}
.search_website:focus{
    background: none;
    color: white;
    outline: none;
}
.form-group-search{
    position: relative;
    top: 5px;
    margin: 0;
}
.form-group-search i{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 16px;
}
.btn-rounded{
    border-radius: 30px;
    background: transparent linear-gradient(355deg, #50003A 0%, #740153 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px;
}
.btn_watch_now{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.heart_btn{
    width: 25px;
}
.title-text{
    font-size: 30px;
    color:#740153 !important;
}
.margin-top-50{
    margin-top: 50px;
}
.slick_show p{
    color: white;
    font-size: 18px;
    margin: 0;
}
footer{
    background: #50003A;
    /*background: transparent linear-gradient(to top, #50003A 0%, #fff3 100%) 0% 0% no-repeat padding-box*/
}
footer p{
    margin: 0;
    color: #838383;
    font-size: 20px;
}
.modal-header button{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}
.login_form label{
    color: #525152;
}
.login_form input{
    padding: 20px;
    border-radius: 8px;
}
.modal-title-div{
    border-bottom: 2px solid #50003A;
}
.modal-title-custom{
    color:#50003A;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
.submitFormAjax{
    margin-top: 20px;
}
.btn-submit{
    padding: 10px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.purple-color{
    color:#740153 !important;
}
.login-register-text{
    color: #50003A;
}
.margin-top-20{
    margin-top: 20px;
}
.main_error_message_in_form{
    color: red;
    font-size: 20px;
    text-align: center;
}
.error-form-messages{
    color: red;
    text-align: left;
}
.img-slick{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.paragraph_hidden_slick{
    visibility: hidden;
}
.slick_show a{
    text-decoration: none !important;
}
.slick_container_hover_effect:hover{
    background: white;
    border-radius: 8px;
    padding: 10px;
}
.text-title-black{
    color:black !important;
}
.text-title-white{
    color:white;
}
.backgroundTv_shows{
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.series_background{
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.episodes_bacground{
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.program_show_background{
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
#thumbnail-slider .inner{
    padding: 0 !important;
}
#thumbnail-slider .inner ul{
    width: 100% !important;
}
#thumbnail-slider .inner ul li{
    width: 100% !important;
}
#thumbnail-slider .inner .thumb{
    width: 100% !important;
    background-size: cover !important;
}
.slick_container_hover_effect{
    width: 95%;
}
.login_form form{
    width: 100%;
}
.auth_message{
    font-size: 24px;
    text-align: center;
}
.login-register-text{
    margin: 0;
}
.series_background{
    position: relative;
}
.follow_btns{
    position: absolute;
}
.img_no_auth{
    display: block;
    margin: 0 auto;
}

.btn-no-background-border{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.btn-no-background-border:focus{
    outline: none;
}
.border_bottom_purple{
    border-bottom: 2px solid #740153;
}
.border_bottom_purple p{
    margin: 0;
}

.text-title-episode{
    font-size: 22px;
    margin: 0;
}
.text-episode-no{
    font-size: 16px;
    margin: 0;
}
.like-dislike-txt{
    color: white;
    font-size: 16px;
    margin-left: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.no_descoration_href{
    text-decoration: none;
}
.no_descoration_href:hover{
    text-decoration: none;
}
span.page-link {
    background: #740153 !important;
    color: white !important;
}
.text-purple{
    color:#740153;
}
.font-size-25{
    font-size: 25px;
}
.font-size-18{
    font-size: 18px;
}
