.slider-text-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000d9, #0000002e 25%,#00000014 40%);
    /*background: linear-gradient(to right, #0000009e, #0000002e 25%,#00000014 40%),linear-gradient(to bottom,  #0000009e 15%,#00000014 20%) bottom,linear-gradient(to top,  #0000009e 15%,#00000014 20%) top*/
}
.slider-text-content{
    position: relative;
    top: 15%;
    width: 25%;
    left: 10%;
}
.slider-text-title{
    color:white;
    font-size: 40px;
}
.slider_area{
    width: 100%;
}
#ninja-slider{
    width: 80% !important;
}
#thumbnail-slider{
    width: 20%;
}
#thumbnail-slider .inner ul{
    width: 100% !important;
}
.ns-img{
    background-size: cover !important;
}
.slick-prev, .slick-next{
    z-index: 999;
}
.slick-prev:before, .slick-next:before{
    font-size: 50px !important;
}

